### Evaluate the Diabetes Dataset

#### 1: Import the dataset

In [27]:
#Import the required libraries
import numpy as np
import pandas as pd

#Import Model related libraries:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
#Import the diabetes dataset
diabeties_dataset = pd.read_csv(r"C:/MY-PROJECTS/Analyzing_Diabeties_Dataset/pima-indians-diabetes.data",header=None)
diabeties_dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 2: Analyze the dataset

#### 3: Find the features of the dataset

In [10]:
#Use the .NAMES file to view and set the features of the dataset
#Create a list of columns:
feature_names = ['Number of times pregnant','Plasma glucose concentration','Diastolic blood pressure','Triceps skin fold thickness',
           'serum insulin','BMI','Diabetes pedigree function','Age','Class']

In [11]:
#Use the feature names set earlier and fix it as the column headers of the dataset
diabeties_dataset.columns = feature_names

In [12]:
#Verify if the dataset is updated with the new headers
diabeties_dataset.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,serum insulin,BMI,Diabetes pedigree function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
#View the number of observations and features of the dataset
obsevations,features = diabeties_dataset.shape
print("Obsevations:{}".format(obsevations))
print("Features:{}".format(features))

Obsevations:768
Features:9

#### 4: Find the response  of the dataset

In [15]:
#Select features from the dataset to create the model
feature_selected_cols = ['Number of times pregnant','serum insulin','BMI','Age']

In [16]:
#Create the feature object
X_features = diabeties_dataset[feature_selected_cols]

In [18]:
#Check type of feature Object:
type(X_features)

pandas.core.frame.DataFrame

In [22]:
#Create the reponse object
y_target = diabeties_dataset.Class

In [23]:
#Check type of target Object:
type(y_target)

pandas.core.series.Series

In [24]:
#View the shape of the feature object
X_features.shape

(768, 4)

In [25]:
#View the shape of the target object
y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [28]:
#Split the dataset to test and train the model
X_train,X_test,y_train,y_test = train_test_split(X_features,y_target,random_state=22)

#### 6: Create a model  to predict the diabetes outcome

In [29]:
# Create a logistic regression model using the training set
#INSTATIATE:
log_reg = LogisticRegression()

#FIT:
log_reg.fit(X_train,y_train)

C:\Users\Phase\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
#Make predictions using the testing set
y_pred = log_reg.predict(X_test)

In [32]:
print(y_test[:5],y_pred[:5])

645    0
767    0
31     1
148    0
59     0
Name: Class, dtype: int64 [1 0 0 1 0]

#### 7: Check the accuracy of the model

In [33]:
#Evaluate the accuracy of your model
from sklearn.metrics import accuracy_score

#Check accuracy of the model:
print("Accuracy_Score:{}".format(accuracy_score(y_test,y_pred)))

Accuracy_Score:0.6875

In [35]:
#Print the first 30 actual and predicted responses
print("True:",y_test.values[:30])
print("Predicted:",y_pred[:30])

True: [0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1]
Predicted: [1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1]